/* 
 *  Folder CSS 
 *   author: Anthony Dillon
 */

#folder-window .buttons{
	width:85px;
	height:36px;
	margin: 1px;
	float:left;
}

#folder-window .bottom-buttons{
	background:url(../img/folder/image-nautilus-background.png) repeat-x;
	height:37px;
	width:100%;
	border-bottom: 1px solid #d7d4d2;
}

#folder-window .buttons div, #folder-window .bottom-buttons div{
	float:left; 
}

.folder.window .bottom-buttons div{
	color: #807d78;
	height:21px;
	border:1px solid #353431;
	margin:0;
	padding:5px;
	overflow: hidden;
	line-height:24px;
	background:url(../img/folder/image-nautilus-breadcrumb.png) repeat-x;
}

.folder.window.selected-window .bottom-buttons div {
	color: #DFDBD2;
}

#folder-window .bottom-buttons div:first-of-type {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#folder-window .bottom-buttons div:last-of-type {
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;	
}

#folder-window .bottom-buttons div.selected{
	font-weight:bold;
	background:url(../img/folder/image-nautilus-breadcrumb-selected.png);
}

#folder-window .bottom-buttons div img{
	margin-top: -4px;
	vertical-align: top;
	margin-top: 4px;
	margin-right: 3px;
}

.folder.window  .bottom-buttons div .home{
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 4px 4px 0 0px;
	background: url(../img/folder/icon-nautilus-mono-home.png) center 48px;
}

.folder.window.selected-window .bottom-buttons div .home{
	background-position: center 32px;
}

#folder-window .bottom-buttons span{
	color:white;
}

.folder .folder-list{
	float:left;
	border-right: 1px solid #dad8d5;
}

.folder .list{
	height: 418px;
	min-width:144px;
  display: inline-block;
}

.folder .list p{
	font-weight:bold;
	margin:10px 0 0 20px;
}

.folder .list ul{
	list-style: none;
	padding:0px;
	margin-top:5px;
}

.folder .list ul li{
	padding-left: 45px;
	vertical-align: middle;
	height: 23px;
	padding-top: 4px;
  padding-right: 10px;
}
.folder .list ul li.home {
	background: url(../img/folder/home-icon.png) no-repeat 20px 5px;
}
.folder .list ul li.desktop {
	background: url(../img/folder/desktop-icon.png) no-repeat 20px 5px;
}
.folder .list ul li.documents {
	background: url(../img/folder/documents-icon.png) no-repeat 20px 5px;
}
.folder .list ul li.downloads {
	background: url(../img/folder/downloads-icon.png) no-repeat 20px 5px;
}
.folder .list ul li.music {
	background: url(../img/folder/music-icon.png) no-repeat 20px 5px;
}
.folder .list ul li.pictures {
	background: url(../img/folder/pictures-icon.png) no-repeat 20px 5px;
}
.folder .list ul li.videos {
	background: url(../img/folder/videos-icon.png) no-repeat 20px 5px;
}
.folder .list ul li.rubbish {
	background: url(../img/folder/rubbish-icon.png) no-repeat 20px 5px;
}
.folder .list ul li.selected{
	color:white;
	background-color:#ed7543;
	background-position: 20px -16px;
}


.folder .folder-contents{
	float:left;
}

.folder .contents{
	background-color:#f1f0ef;
	height: 432px;
  overflow: auto;
  width: 100%;
  border-left: 1px solid #f2f1f0;
}

.folder .selected-details{
	min-width:25px;
	height:19px;
	float:right;
	background:#fcfcbd;
	margin-top:-21px;
	border:1px solid #dbdb5a;
	padding: 0 4px;
	display:none;
}

.folder .file-details{
	float:left;
	height:20px;
}

#folder-window .buttons .folder-back{
	width:34px;
	height:34px;
	overflow:hidden;
	background: url(../img/folder/image-nautilus-back.png) no-repeat 0px -33px;
}

#folder-window .buttons .folder-forward{
	width:34px;
	height:34px;
	overflow:hidden;
	background: url(../img/folder/image-nautilus-forward.png) no-repeat 0px -33px;
}

#folder-window .buttons .disabled{
 	background-position: 0px 0px !important;
}

#folder-window .buttons .folder-icon-view{
	margin:5px 0px 0px 5px;
}

#folder-window.window{
	background-color:#e7e5e4;
}

.folder .folder-contents .contents .file.display-icon p{
	width: 53px;
	overflow:hidden;
	margin:0 auto;
	padding:2px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}

.folder .buttons .folder-search{
	width:36px;
	height:38px;
	overflow:hidden;
	background: url(../img/folder/search.jpg) no-repeat 0px 0px;
}

.folder .buttons .folder-search:hover{
	background-position: 0px -38px;
}
 
.folder .folder-contents .contents .display-icon{
	width:25%;
	height:80px;
	float:left;
	text-align: center;
	margin:10px;
	line-height: 12px;
}
 
.file-folder.display-icon p{
	background:url(../img/folder/icon-nautilus-folder-generic.png) no-repeat 0px 0px;
	height:38px;
	width:47px;
	overflow:hidden;
	margin:0 auto;
}

.file-folder.display-icon.icon-documents p{
	background-image:url(../img/folder/icon-nautilus-folder-document.png);
}

.file-folder.display-icon.icon-downloads p{
	background-image:url(../img/folder/icon-nautilus-folder-downloads.png);
}

.file-folder.display-icon.icon-music p{
	background-image:url(../img/folder/icon-nautilus-folder-music.png);
}

.file-folder.display-icon.icon-videos p{
	background-image:url(../img/folder/icon-nautilus-folder-videos.png);
}

.file-folder.display-icon.icon-pictures p{
	background-image:url(../img/folder/icon-nautilus-folder-pictures.png);
}

.file-folder.display-icon.icon-desktop p{
	background-image:url(../img/folder/icon-nautilus-folder-desktop.png);
}

 .display-compact{
 	float:none;
 	height: 28px;
 	margin-top:5px;
 	width:150px;
 }
 
.display-compact p{
 	height:22px;
 	width:24px;
 	overflow:hidden;
 	float:left;
 	margin:0px 5px;
 	
 }
   .file-folder.display-compact p{
   		background:url(../img/folder/folder-icon-list.png) no-repeat 0px 0px;
   }
    .file.display-compact p{
   		background:url(../img/folder/file-icon-list.png) no-repeat 0px 0px;
   }
 
.folder .folder-contents .contents .file p.border{
   	border: 1px solid #bbbeb7;
}

 
.folder .folder-contents .contents div h1{
 	color:transparent;
 	display:none;
 }
 
  .folder .folder-contents .contents  .display-icon span{
  	-moz-border-radius: 4px 4px 4px 4px;
  	-webkit-border-radius: 4px 4px 4px 4px;
  	border-radius: 4px 4px 4px 4px;
  	line-height: 22px;
  }
  
  .folder .folder-contents .contents .display-icon.orange-overlay{
  	background:url(../img/folder/orange-overlay.png);
  	display:block;
  	position:absolute;
  	height:20px;
  	width:37px;
  	top:0px;
  	left:0px;
  }
  
  .contents .display-icon.over p{
  	background-position: 0px -40px;
  }
  
   .display-icon.selected p{
   		background-position: 0px -80px !important;
   }
   
  .contents .display-compact.over p{
  	background-position: 0px -38px;
  }
  
   .display-compact.selected p{
   		background-position: 0px -44px !important;
   }
  
 .selected span{
 	padding:2px 4px;
  	background-color:#f08357;
  	color:white;
  }
  

.folder-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.folder-contents {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

