/*
 *  LIbreOffice CSS
 *   author: Anthony Dillon
 */

#libreoffice-calc-window{
	left:431px;
	top:88px;
	display:none;
}

#libreoffice-calc-window .content{
	background:url(../img/librecalc.jpg) no-repeat;
	width:795px;
	height:534px;
}

#libreoffice-calc-window .control .close:hover {
    background-position: 0 -19px;
}

#libreoffice-writer-window{
	left:431px;
	top:88px;
	display:none;
}

#libreoffice-writer-window .content{
	background:url(../img/librewriter.jpg) no-repeat;
	width:793px;
	height:532px;
}

#libreoffice-writer-window .control .min:hover,
#libreoffice-calc-window .control .min:hover,
#libreoffice-impress-window .control .min:hover {
    background-position: 0 0 !important;
}
#libreoffice-writer-window .control .max:hover,
#libreoffice-calc-window .control .max:hover,
#libreoffice-impress-window .control .max:hover {
    background-position: 0 0 !important;
}

#libreoffice-writer-window .content span,
#libreoffice-calc-window .content span,
#libreoffice-impress-window .content span{
	color: #B3B4A6;
    font-size: 15px;
    margin-right: 13px;
    position: relative;
    top: 5px;
    left:10px;
}

#libreoffice-impress-window{
	left:431px;
	top:88px;
	display:none;
}

#libreoffice-impress-window .content{
	background:url(../img/libreimpress.jpg) no-repeat;
	width:793px;
	height:527px;
}

#libreoffice-impress-window .control .close:hover {
    background-position: 0 -19px;
}