/*
*  Tour System CSS
*   author: Anthony Dillon
*/

#tour-guide{
	position:absolute;
	top:150px;
	right:20px;
	width:350px;
	height:180px;
	background-color: rgba(0, 0, 0, 0.85);
	z-index:100;
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
	-moz-box-shadow: 0px 0px 5px #000;
	-webkit-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000; 
}

#tour-guide .guide-container{ 
	width:90%;
}

#tour-guide .next-button{
	position: relative;
    width: 50px;
    z-index: 2;
	height:50px;
	margin-right:10px;
	float:right;
	cursor:pointer;
}

#tour-guide .prev-button{
	position: relative;
    width: 50px;
    z-index: 2;
	height:50px;
	float:right;
	cursor:pointer;
}

#tour-guide .prev-button img{
	margin:10px 0 0 25px;
	cursor:pointer;
}

#tour-guide .next-button img{
	margin:10px 0 0 25px;
	cursor:pointer;
}

#tour-guide .tour-buttons{
	position: absolute;
	bottom: 0;
	border-top: 1px solid #000;
	width: 100%;
}
#tour-guide .tour-buttons div{
	border-left: 1px solid #000;
	cursor:pointer;
	float:left;
	width:77px;
	height:45px;
	font-size: 14px;
	padding-top: 10px;
	padding-left: 38px;
}

#tour-guide .guide-logo{
	width:50px;
	height:50px;
	float:left;
	background-repeat:no-repeat;
	margin:5px 10px 0;
}

#tour-guide .guide-logo img{
	height:46px;
}

#tour-guide h3{
	font-size:16px;
	display:inline;
	position:relative;
	top:22px;
	margin-bottom:0px;
}

#tour-guide p{
	font-size:16px;
	font-weight: normal;
	position:absolute;
	top: 60px;
	margin: 0 10px;
	line-height: 1.5;
}
