Source: ubuntu-online-tour
Section: doc
Priority: optional
Maintainer: Timo Jyrinki <timo-jyrinki@ubuntu.com>
Build-Depends: debhelper (>= 8.0.0), intltool, python, python-distutils-extra, python-polib
Standards-Version: 3.9.3
Homepage: https://launchpad.net/ubuntu-online-tour

Package: ubuntu-online-tour
Architecture: all
Depends: ${misc:Depends}, firefox
Recommends: xdg-utils
Description: Experience Ubuntu in your web browser
 Ubuntu Online Tour is a demonstration of Ubuntu's Unity user interface 
 running in a web browser. A modern HTML5/CSS3 browser is required.

